<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="denina" type="DeninaSharp.Core.Configuration.PipelineConfigSection, DeninaSharp" />
  </configSections>
  <denina>
    <variables>
      <add key="Sql.AllowedConnectionStrings" value="x,y,z" />
    </variables>
  </denina>
  <connectionStrings>
    <add name="a" connectionString="Fake Connection String"/>
  </connectionStrings>
</configuration>